{% extends 'base.html' %}

{% load static %}

{%  block content %}

<!-- inner-apge-banner start -->
<section class="inner-page-banner bg_img overlay-3" data-background="{% static 'assets/images/hous.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">Create New account</h2>
          <ol class="page-list">
            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li>Registration</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-apge-banner end -->

  <!-- registration-section start -->
  <section class="registration-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="registration-block text-center">
            <div class="registration-block-inner">
              <h3 class="title">create  your account</h3>

              {% include 'include/alert.html' %}
              <form  action="{% url 'register' %}" class="registration-form" method="POST"  >

                {% csrf_token %}
                <div class="frm-group">
                  <input type="text" name="first_name" id="f-name" placeholder="First Name" required>
                </div>
                <div class="frm-group">
                  <input type="text" name="last_name" id="l-name" placeholder="Last Name" required>
                </div>
                <div class="frm-group">
                    <input type="text" name="username" id="username" placeholder="username" required>
                  </div>
                <div class="frm-group">
                  <input type="email" name="email" id="name" placeholder="Your Email" required>
                </div>
                <!-- <div class="frm-group">
                  <input type="url" name="website" id="website" placeholder="Your Website">
                </div> -->
                <div class="frm-group">
                  <input type="password" name="password" id="pass" placeholder="Your Password" required>
                </div>
                <div class="frm-group">
                  <input type="password" name="password2" id="re-pass" placeholder="Enter Re-Password" aria-required="">
                </div>
                <div class="frm-group">
                  <input type="submit" value="create new account">
                </div>
                <div class="frm-group">
                  <input type="checkbox" name="checkbox" id="checkbox" value="yes">
                  <label for="checkbox">I wish subscribe newslatter</label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- registration-section end -->

  {% endblock %}