{% extends 'base.html' %}

{% load static %}

{%  block content %}



<!-- banner-section start  -->
<section class="banner-section bg_img mystyle" data-background="{% static 'assets/images/hous1.jpg' %}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="banner-content">
          <h1 class="title">find your Property Here</h1>
          <a href="{% url 'properties' %}" class="cmn-btn">See all Properties </a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="banner-img">
          <img src="{%  static 'assets/images/bg-img.png' %}" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner-section end  -->

<!-- search-section start -->
<section class="search-section pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="car-search-area">
          <h3 class="title">Search for Your Property</h3>
          <form class="car-search-form">
            <div class="row">
              <!-- 
                
               -->
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <i class="fa fa-map-marker"></i>
                <input class="form-control has-icon" type="text" placeholder=" Location">
              </div>
              <div class="form-group col-md-6">
                <i class="fas fa-home"></i>
                <input class="form-control has-icon" type="text" placeholder="Property">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <i class="fas fa-filter"></i>
                <input type='text' class='form-control has-icon datepicker-here' data-language='en' placeholder="Purpose">
              </div>
              <div class="form-group col-md-6">
                <i class="fas fa-tags"></i>
                <input type="text" name="price" class="form-control has-icon " placeholder="Price">
              </div>
            </div>
            <button type="submit" class="cmn-btn btn-radius">More Properties</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search-section end -->

<!-- featured properties-section start -->
<section class="features-section pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h1 class="section-title ">Ariot Properties</h1>
          <h3> We offer you world class, beautifully designed and comfortable apartments for your different needs.</h3>
        </div>
      </div>
    </div>
    <div class="row mb-none-30">
      <div class="col-lg-4 col-sm-6">
        <div class="icon-item text-center">
          <div class="icon"><i class="fa fa-user"></i></div>
          <div class="content">
            <h3 class="title">Luxury</h3>
            <p>Your taste, interest and satisfaction is considered when providing your happiness. </p>
          </div>
        </div>
      </div><!-- icon-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="icon-item text-center">
          <div class="icon"><i class="fa fa-rocket"></i></div>
          <div class="content">
            <h4 class="title">Excellent Guide</h4>
            <p>Tell us your choice, we will model it to suite what you want </p>
          </div>
        </div>
      </div><!-- icon-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="icon-item text-center">
          <div class="icon"><i class="fa fa-volume-control-phone"></i></div>
          <div class="content">
            <h4 class="title">Customer support</h4>
            <p>We provide exceptional customer satisfactions, with our 247 services at its peak. </p>
          </div>
        </div>
      </div><!-- icon-item end -->
    </div>
  </div>
</section>
<!-- features-section end -->

<!-- property-section start -->
<section class="rent-step-section pb-120">
  <div class="element-one"><img src="{% static 'assets/images/newhouse.jpg' %}" alt="image"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="block-area">
          <div class="block-header">
            <h2 class="title">Welcome to Ariot Properties </h2>
            <p>We offer a wide range of housing options, including affordable homes to rent, properties to buy under shared ownership, market rent properties, and specialist accommodation for older people and people who need care . </p>
          </div>
          <div class="block-body">
            <ul class="num-list">
              <li><span class="num">01</span>Search for your Properties</li>
              <li><span class="num">02</span>Speak with our agents</li>
              <li><span class="num">03</span>Get the Latest information</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- rent-step-section end -->

<!-- choose-property-section start -->
<section class="choose-car-section pt-120 pb-120 section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">choose Your luxury properties here</h2>
          <p> We are a world class property company, providing you comfort and happiness for the best price.</p>
        </div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-lg-12">
        <div class="choose-car-slider owl-carousel">
          {% if properties %}
          {% for property in properties %}
          <div class="car-item">
            <div class="thumb">
              <img src="{{ property.photo.url }}" alt="image">
            </div>
            <div class="car-item-body">
              <div class="content">
                <h4 class="title"> {{property.name}}</h4>
                <span class="price">&#8358;{{property.price}}</span>
                <p>{{properties.description}}</p>
                <a href="{% url 'properties' %}" class="cmn-btn">Check Now</a>
              </div>
              <div class="car-item-meta">
                <ul class="details-list">
                  <li><i class="fas fa-map-marker-alt"></i>{{property.location}}</li>
                  <li><i class="fas fa-house-user"></i>{{property.purpose}}</li>
                  <li><i class="fas fa-house-user"></i>{{property.room}} Rooms</li>
                </ul>
              </div>
            </div>
          </div><!-- property-item end -->
          {% endfor %}
          {% endif %}


        </div>
      </div>
      <div class="col-lg-4">
        
      </div>
     
    </div>
  </div>
</section>
<!-- choose-property section end -->

<!-- blog-section start -->
<section class="blog-section pt-120 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h1 class="section-title">latest news & Information</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row mb-none-30">
      <div class="col-lg-6">  
        <div class="post-item post-item--grid">
          <div class="thumb bg_img" data-background="{% static 'assets/images/house2.jpg' %}">
            
          </div>
          <div class="content">
            <h5 class="post-title"><a href="{% url 'blog' %}">How to Decide the Best Home</a></h5>
            <p>Shopping for a new home can be exciting, and it’s tempting to grab the first house you fall in love with. But exercising a little patience will go a long way.</p>
            <a href="{% url 'blog' %}" class="text-btn">read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">  
        <div class="post-item post-item--grid">
          <div class="thumb bg_img" data-background="{% static 'assets/images/interior.jpg' %}">
            
          </div>
          <div class="content">
            <h5 class="post-title"><a href=" {% url 'blog' %}">Working on a budget for your Property</a></h5>
            <p>Starting your search online allows you to see all the available homes in your area and narrow down your search to homes you’re truly interestedin.</p>
            <a href="{% url 'blog' %}" class="text-btn">read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">  
        <div class="post-item post-item--grid">
          <div class="thumb bg_img" data-background="{% static 'assets/images/houses2.jpg' %}">
            
          </div>
          <div class="content">
            <h5 class="post-title"><a href="{% url 'blog' %} ">Choose the style that you like</a></h5>
            <p>If you can avoid these mistakes when house-hunting, you'll be more likely to find a home that suits both your feelings and your finances. </p>
            <a href=" {% url 'blog' %}" class="text-btn">read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">  
        <div class="post-item post-item--grid">
          <div class="thumb bg_img" data-background="{% static 'assets/images/house1.jpg' %}">
            
          </div>
          <div class="content">
            <h5 class="post-title"><a href=" {% url 'blog' %}">Sustainable Properties and the environment</a></h5>
            <p>Beyond location, look at the site of the home. If the home is on a hill, does it have a view, a walkout basement, or lots of stairs to climb? </p>
            <a href="{% url 'blog' %} " class="text-btn">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog-section end  -->





{% endblock %}