{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- inner-banner start -->
<section class="inner-page-banner bg_img overlay-3" data-background="{% static 'assets/images/hous.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">News Feeds</h2>
          <ol class="page-list">
            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li>blog post</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-banner end -->

  <!-- blog-section start -->
  <section class="blog-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% for blog in bloglist %}

          <div class="post-item post-item--list">
            <div class="post-item-header">
              <a href="#0" class="post-date"> {{blog.created_date|date:'d'}} <br>{{blog.created_date|date:'M'}} <br> </a>
              <h3 class="post-title"><a href="#0">{{blog.title}}</h3>
            </div>
            <div class="thumb">
              <img src="{{blog.photo.url}}" alt="image">
            </div>
            <ul class="post-meta">
              <li><a href="#0"><i class="fa fa-user"></i>{{blog.author}}</a></li>
              <li><a href="#0"><i class="fa fa-comment"></i>{{blog.comment}}</a></li>
            </ul>
            <div class="content">
              <p>{{blog.content}}</p>
              <a href="{{blog.id}}" class="blog-btn">read more<i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
           {% endfor %}
          <!-- post-item end -->

          <nav class="d-pagination mt-50" aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item active"><a class="page-link" href="#">01</a></li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item"><a class="page-link" href="#">04</a></li>
              <li class="page-item"><a class="page-link" href="#">05</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar">
            <div class="widget widget-all-cars">
              <h4 class="widget-title">search in here</h4>
              <div class="widget-body">
                <form action="{% url 'search' %}" class="widget-search-form">
                    <input type="search" name="keywords" id="keywords" value="{{values.keywords}}" placeholder="Search Keyword">
                    <button class="widget-search-btn"><i class="fa fa-search"></i></button>
                  </form>
              </div>
            </div>
            <!-- widget end -->
            <div class="widget widget-new-ctg">
              <h4 class="widget-title">news categories</h4>
              <ul class="cars-list">
                <li><a href="#0">car travel</a></li>
                <li><a href="#0">best car rent</a></li>
                <li><a href="#0">driving tips</a></li>
                <li><a href="#0">included new car</a></li>
                <li><a href="#0">car buy & sale</a></li>
              </ul>
            </div>
            <!-- widget end -->
            <div class="widget">
              <h4 class="widget-title">news categories</h4>
              <div class="widget-body">
                <ul class="small-post-list">
                  <li class="small-post-item">
                    <h6 class="post-title"><a href="#0">France Prepares to Stake Its Place in World </a></h6>
                    <ul class="post-meta">
                      <li><a href="#0">Tushar Khan</a></li>
                      <li><a href="#0">renteral</a></li>
                    </ul>
                  </li>
                  <!-- small-post-item end -->
                  <li class="small-post-item">
                    <h6 class="post-title"><a href="#0">Genocide’s Legacy: Ation Vlage in Rwanda</a></h6>
                    <ul class="post-meta">
                      <li><a href="#0">Tushar Khan</a></li>
                      <li><a href="#0">renteral</a></li>
                    </ul>
                  </li>
                  
                  <li class="small-post-item">
                    <h6 class="post-title"><a href="#0">Attack in Paris Befor French Election</a></h6>
                    <ul class="post-meta">
                      <li><a href="#0">Tushar Khan</a></li>
                      <li><a href="#0">renteral</a></li>
                    </ul>
                  </li><!-- small-post-item end -->
                </ul>
              </div>
            </div><!-- widget end -->
            
            </div><!-- widget end -->
            <div class="widget widget-tags">
              <h4 class="widget-title">Properties</h4>
              <div class="widget-body">
                <div class="widget-tags-list">
                  <a href="#0">housing</a>
                  <a href="#0">real estate</a>
                  <a href="#0">accompodation</a>
                  <a href="#0">appartment</a>
                  <a href="#0">building</a>
                  <a href="#0">properties</a>
                </div>
              </div>
            </div><!-- widget end -->
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-section end -->









{% endblock %}